# ===========================
# Default Collab Ignore Rules
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
.Library
.idea
.Logs
.obj
.Packages
.ProjectSettings
.Temp
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# Unity generated
# ===============
[Oo]bj/
[Bb]uild
sysinfo.txt
*.stackdump
Library/
Packages/manifest.json
Packages/packages-lock.json
Pics/AddRender.png
Pics/
ProjectSettings/
Temp/
Logs/
Assets/_Temp/
Output/
Assets/_Test/
Assets/Script/
